<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Resiter</title>
</head>
<style>
    .reg
    {
        width: 100%;
        height: 400px;
        margin-top: 200px;
    }
</style>
<body>
    <div class="container">

        <h1 style="text-align: center;"class="display-1">Đăng Ký</h1>


        <div class="reg">

          <form method="post">

            <div class="input-group mb-3">
              <input name = 'fullname' type="text" class="form-control" placeholder="name" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Fullname</span>
              </div>
            </div>
  
            
            <div class="input-group mb-3">
              <input name = 'email' type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Email Address</span>
              </div>
            </div>


            <div class="input-group mb-3">
              <input name = 'password' type="text" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Password</span>
              </div>
            </div>


            <button type="submit" class="btn btn-secondary btn-lg btn-block">Register</button>
      

          </form>
            
              
        </div>
        
    </div>
</body>
</html>